doctype html
html
	head
		title=title
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='http://openfontlibrary.org/face/8bit-wonder', type='text/css', media='screen')
		script(type='text/javascript', src='//code.jquery.com/jquery-2.1.4.min.js')
		script(type='text/javascript', src='//code.jquery.com/ui/1.11.4/jquery-ui.min.js')

		block prescript
	body
		#mainbody
			nav(class=['navbar', 'navbar-inverse'])
				div.container-fluid
					div.navbar-header
						a.navbar-brand(href="images/logo_transparent.gif") Logo
					div(class="navbar-collapse collapse")
						ul(class=['navbar-right', 'navbar-nav', 'nav'])
							li
								a.navbar-icon(href="/fight") Fight
								a.navbar-icon(href="/profile") Profile
			#maincontent
				block content

		block scripts
		script(type='text/javascript').
			$(document).ready(function() {
				var container = document.getElementById('mainbody');
				var heightWindow = $(window).height();
				var heightContainer = $(container).height();

				$(mainbody).css({
					marginTop: ((heightWindow / 2) - (heightContainer / 2))
				});
			});
