/* ------------------------------------------------------
  |<- FITEME CSS DECLARATIONS
---------------------------------------------------*/
/* Main site skeleton */

body {
  font-family: '8BITWONDERNominal';
  font-weight: normal;
  font-style: normal;
  background: url("/images/collage-compressed.jpg") no-repeat fixed center;
  background-size: 100%;
}

#mainbody {
  position: relative;
  float: left;
  max-width: 600px;
  width: 100%;
  margin: 0 calc(50% - 300px);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 500px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.5);
}

#mainbody .navbar {
  margin-bottom: 0px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#mainbody .navbar-icon {
  float: right;
}

.navbar {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.25);
}

#maincontent {
  float: left;
  padding-bottom: 50px;
  width: 100%;
}

.logobox {
  position: absolute;
  left: calc(50% - 90px);
}
.logobox a {
  padding: 0!important;
}
img.logomain {
  height: 50px;
}

/* -------------------------------
  |<- Individual page styling
--------------------------------*/
/* Battle page */

#searchingScreen {
  height: 448px;
  width: 100%;
  position: absolute;
  top: 52px;
  left: 0;
  z-index: 30;
  background-color: white;
  overflow: hidden;
}

#dotloader {
  display: inline-block;
}

#postScreen {
  height: 448px;
  width: 100%;
  position: absolute;
  top: 52px;
  left: 0;
  z-index: 10;
  background-color: white;
  overflow: hidden;
  height: 0px;
}

#searchingScreen h1 {
  padding: 100px 50px;
}

form#battleSubmit { background: #000; padding: 3px; position: absolute; bottom: 0; width: 600px; }

#battleSubmit.active {
  border-color: gold;
}

form input { border: 0; padding: 10px; width: calc(100% - 79px); margin-right: .5%; }

form button {
  width: 75px;
  background: rgb(231, 34, 34);
  border: none;
  padding: 10px;
  color: white;
}

#messages {
  float: left;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  padding: 5px 10px;
}

#battleContent{
  float: left;
  background-color: #eee;
  width: 100%;
  min-height:
}

#battleCount {
  width: 80px;
  float: left;
}

#battleCount li {
  height: 40px;
  width: 40px;
  background-color: white;
  -webkit-border-radius: 20px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius: 20px;
  -moz-border-radius-topleft: 3px;
  border-radius: 20px;
  border-top-left-radius: 3px;
  line-height: 30px;
  padding-left:5px;
  margin-top: 5px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.25);
}

#battleCount li.complete {
  border: 3px solid grey;
}

#battleCount li.active {
  border: 3px solid gold;
}

#battleInputs{
  width: calc(100% - 80px);
  float: left;
  padding: 5px 20px 5px 10px;
}

#battleInputs textarea {
  width: 100%;
  padding: 10px;
  -webkit-border-radius: 20px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius: 20px;
  -moz-border-radius-topleft: 3px;
  border-radius: 20px;
  border-top-left-radius: 3px;
  height: 180px;
  font-size: 13px;
  outline: none;
  border: 0;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.25);
}

/* Login & registration page */


/* Profile Page */
.leftcolumn {
  float: left;
  text-align: center;
  max-width: 300px;
}

.rightcolumn {
  float: right;
  text-align: center;
  max-width: 300px;
}
img.profile {
  width: 40%;
  height: 40%;
  padding: 20px;
}
img.recordimage {
  width: 40%;
  height: 40%;
  padding: 20px;
}
input.changeuser {
  width: 60%;
  margin-top: 3%;
}
#settings {
  float: right;
  margin-top: 3px;
  cursor: pointer;
}
.container.recordlist {
  overflow-y: scroll;
  margin-top: 20px;
  height: 310px;
  width: 270px;
}

.container.achievementlist {
  overflow-y: scroll;
  margin-top: 20px;
  height: 190px;
  width: 270px;
}

p#slider {
  padding-top: 10px;
  width: 250px;
  display: none;
}

ol.recordlist {
  list-style-type: none;
}



/* add other pages below */

/* Judge page */

div.userOne {
  max-width: 600px;
  text-align: left;
  float: left;
  padding-left: 5%;

  display: inline-block;
  background-color: #EEE;
  overflow: hidden;
}
div.userOne p {
  margin-right: 25%;
}
div.userTwo {
  max-width: 600px;
  text-align: right;
  float: right;
  padding-right: 5%;
  display: inline-block;
}
.arguments{
  display: table-row;
  height: 100%;
  max-width: 600px;
  overflow: hidden;
}
.arguments{
  overflow-y: scroll;
  height: 500px;
  margin-top: 20px;
}


img.select {
  width: 20%;
  height: 20%;
}
img.select.right {
  float: right;
  margin-right: 3%;

}
img.select.left {
  float: left;
  margin-left: 3%;
}
