
/* ------------------------------------------------------
  |<- FITEME CSS DECLARATIONS
---------------------------------------------------*/

/* Main site skeleton */
#mainbody {
  max-width: 600px;
  margin: 0 calc(50% - 300px);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#mainbody .navbar {
  margin-bottom: 0px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* -------------------------------
  |<- Individual page styling
--------------------------------*/
/* Battle page */


/* Login & registration page */


/* add other pages below */
