extends ../partials/skeleton

block prescript
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(type='text/javascript').
		var socket = io.connect('http://localhost');
		socket.on('news', function (data) {
			console.log(data);
			socket.emit('my other event', { my: 'data' });
		});

block content

	if user
		p This is the battle page, gosh - can't wait!
		ul(id='messages')
		form(id='battleSubmit')
			input(id="m", autocomplete="off")
			button Send
	else
		.container
			h1  Wanna fite m8?
				p Log in first.
				p
					a.btn.btn-primary(href="/login") Login
				p
					span.small I don't have an account?
					span &nbsp;
					a.small(href="/register") Get 1337.

block scripts
