extends ../partials/skeleton

block prescript
	script(type='text/javascript').
		var playerPos;
		var gameState;
block content

	if user
		p This is the battle page !{givenName}, gosh - can't wait!
		ul(id='messages')
		form(id='battleSubmit')
			input(id="m", autocomplete="off")
			button Send
	else
		.container
			h1  Wanna fite m8?
				p Log in first.
				p
					a.btn.btn-primary(href="/login") Login
				p
					span.small I don't have an account?
					span &nbsp;
					a.small(href="/register") Get 1337.

block scripts
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(type='text/javascript').
		var socket = io();
		$('form').submit(function(){
			socket.emit('message', '!{givenName}', $('#m').val());
			$('#m').val('');
			return false;
		});
		socket.on('message', function(from, msg){
			$('#messages').append($('<li>').text(from + ': ' + msg));
		});
		socket.on('status', function(status, position, msg){
			if(position) {
				gameState = status;
				playerPos = position;
				console.log('gamestate: ' + gameState + '.');
				console.log('player position: ' + playerPos + '.');
			}
			$('#messages').append($('<li class="left">').text(msg));
		});
