extends ../partials/skeleton

block prescript
	script(type='text/javascript').
		var playerPos;
		var gameState;
block content

	if user
		H1 The argument title will go here, get ready!
		div(id="battleContent")
			ol(id='battleCount')
				li P1
				li P2
				li P1
				li P2
			form(id="battleInputs")
				textarea(readonly) Iron Man, Thor, Captain America and the rest of Earths Mightiest Heroes unite to stand against the threats none can face alone. The Avengers return. The instructors at Avengers Academy hope to steer these super-powered.
			ul(id='messages')
		form(id='battleSubmit')
			input(id="m", autocomplete="off")
			button Send
	else
		.container
			h1  Wanna fite m8?
				p Log in first.
				p
					a.btn.btn-primary(href="/login") Login
				p
					span.small I don't have an account?
					span &nbsp;
					a.small(href="/register") Get 1337.

block scripts
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(type='text/javascript').
		var socket = io();
		$('form').submit(function(){
			socket.emit('message', '!{givenName}', playerPos, $('#m').val());
			$('#m').val('');
			return false;
		});
		socket.on('message', function(from, position, msg){
			switch(position){
				case 1:
					$('#battleInputs').append($('<textarea name="p1" readonly>').text(msg));

				case 2:
					$('#battleInputs').append($('<textarea name="p2" readonly>').text(msg));
				default:
			}
			$('#battleContent').append($('<li class="player' + position + '">').text(from + ': ' + msg));
		});
		socket.on('status', function(status, position, msg){
			if(status) {
				gameState = status;
				console.log('gamestate: ' + gameState + '.');
				if (gameState = 'start'){

				}
			}
			if(position && !playerPos) {
				playerPos = position;
				console.log('player position: ' + playerPos + '.');
			}
			$('#messages').append($('<li>').text(msg));
		});
