extends ../partials/skeleton

block content

	if user

		a(href="/battle")
			h1.(class="letsfight") Fight Me!
	else
		.container
			h1  Wanna fite m8?
				p Log in first.
				p
					a.btn.btn-primary(href="/login") Login
				p
					span.small I don't have an account?
					span &nbsp;
					a.small(href="/register") Get 1337.

block scripts
