extends ../partials/skeleton

block content

	if user
		h3.judge Judge me
		h4.topic Topic Name: {{topicname}}
		.arguments
			.userOne.first
				img(class="icon left",src="images/icon-profile_02.png")
				h4 Player Name
				p User one first argument					
			.userTwo.first
				img(class="icon right",src="images/icon-profile_01.png")
				h4 Player Name
				p User two first argument
			.userOne.second
				img(class="icon left",src="images/icon-profile_02.png")
				h4 Player Name
				p User one second argument
			.userTwo.second
				img(class="icon right",src="images/icon-profile_01.png")
				h4 Player Name
				p User two second argument 
			a(href="")
				img(class="select playerone",src="images/choose_playerone.png")
			a(href="/battle")
				img(class="select playertwo",src="images/choose_playertwo.png")
			
	else
		.container
			h1  Wanna fite m8?
				p Log in first.
				p
					a.btn.btn-primary(href="/login") Login
				p
					span.small I don't have an account?
					span &nbsp;
					a.small(href="/register") Get 1337.

block scripts
	script(type='text/javascript').
		$(document).ready(function (){
			$("#settings").click(function () {
				var button = $(this);
				if ($(this).hasClass('active')){
					console.log("Button active, resetting!");
					$("#slider").slideUp("500");
					$(".achievementlist").delay(500).slideDown("500");
					$(this).removeClass('active');
					return false;
				} else {
					console.log("Button inactive, opening!");
					$(".achievementlist").slideUp("500");
					$("#slider").delay(500).slideDown("500");
					$(this).addClass('active');
					return false;
				}
			});
		});
