extends ../partials/skeleton

block content

    if user
        .container.leftcolumn
            h4 Record
                .container.recordlist
                    - var n = 0
                    while n < 20
                        .records
                            img(class="recordimage",src="images/avatar_zoolander_01.png",alt="Opponent Image") 
                            p= n++ + "user" 
        .container.rightcolumn
            i(id="settings", class="material-icons") settings
            img(class="profile",src="images/buffy_01.png", alt="Profile image")
            h4 Username
            .container.achievementlist
                - var n = 0
                while n < 15
                    p= n++ + " - combobreaker"
                        img(class="recordimage",src="images/3WINS.gif",alt="Opponent Image")
            p#slider Change your username:
                input(class="changeuser",type="text", name="username")
                input(class="changeuser", type='submit', value='Change')
    else
        .container
            h1  Wanna fite m8?
                p Log in first.
                p
                    a.btn.btn-primary(href="/login") Login
                p
                    span.small I don't have an account?
                    span &nbsp;
                    a.small(href="/register") Get 1337.

block scripts
    script(type='text/javascript').
        $(document).ready(function (){
            $("#settings").click(function () {
                var button = $(this);
                if ($(this).hasClass('active')){
                    console.log("Button active, resetting!");
                    $("#slider").slideUp("500");
                    $(".achievementlist").delay(500).slideDown("500");
                    $(this).removeClass('active');
                    return false;
                } else {
                    console.log("Button inactive, opening!");
                    $(".achievementlist").slideUp("500");
                    $("#slider").delay(500).slideDown("500");
                    $(this).addClass('active');
                    return false;
                }
            });
        });
