extends ../partials/skeleton

block content

	if user
		.container.leftcolumn
			h3 Record
				.container.recordlist
					- var n = 0
					while n < 20
						p= n++ + " - win"
		
		.container.rightcolumn

			p
				paper-button(raised).btn-primary(href="",id="settings") Settings
			img(src="http://#{host}", alt='Profile image')
			.container.achievementlist
				- var n = 0
				while n < 15
					p= n++ + " - combobreaker"
			p#slider "The settings are here"
	else
		.container
			h1  Wanna fite m8?
				p Log in first.
				p
					a.btn.btn-primary(href="/login") Login
				p
					span.small I don't have an account?
					span &nbsp;
					a.small(href="/register") Get 1337.

block scripts
script(type='text/javascript').
	$(document).ready(function (){
		$("#settings").click(function () {
			console.log("hello");
			$("#slider").slideDown("slow");
			return false;
		});
	});

